<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulario de prueba de HTML5</title>
</head>
<body>
    <form action="" method="get">
        <p>
            Nombre: <input type="text" name="Nombre" autofocus required />
        </p>
        <p>
            Correo electrónico: <input type="email" name="Email" required />
        </p>
        <p>
            URL: <input type="url" name="URL" placeholder="Escribe la URL de tu página web personal" />
        </p>
        <p>
            Fecha: <input type="date" name="Fecha" />
        </p>
        <p>
            Tiempo: <input type="time" name="Tiempo" />
        </p>
        <p>
            Fecha y hora: <input type="datetime" name="Fecha_Hora" />
        </p>
        <p>
            Mes: <input type="month" name="Mes" />
        </p>
        <p>
            Semana: <input type="week" name="Semana" />
        </p>
        <p>
            Número (min -10, max 10): <input type="number" name="Número" min="-10" max="10" value="0" />
        </p>
        <p>
            Teléfono: <input type="tel" name="Teléfono" />
        </p>
        <p>
            Término de búsqueda: <input type="search" name="Término" />
        </p>
        <p>
            Color favorito: <input type="color" name="Color" />
        </p>
        <p>
            <input type="submit" value="Enviar" />
        </p>
    </form>
</body>
</html>
