<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina Principal</title>
</head>
<body>

    <h1>
        Intro al HTML
    </h1>

    <ul>
        <li>
            <a href="/Home/Ejercicio1"> Ejercicio 1</a>
        </li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>

   
</body>
</html>
