<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina Principal</title>
</head>
<body>

    <h1>
        Intro al HTML
    </h1>

    <ul>
        <li>
            <a href="/Home/Ejercicio1"> Ejercicio 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio2"> Ejercicio 2</a>
        </li>
        <li>
            <a href="/Home/Ejercicio3"> Ejercicio 3 A</a>
        </li>
        <li>
            <a href="/Home/Ejercicio3B"> Ejercicio 3 B</a>
        </li>
        <li>
            <a href="/Home/Enlaces"> Enlaces</a>
        </li>
        <li>
            <a href="/Home/Enlaces"> Listas</a>
        </li>
        <li>
            <a href="/Home/Tablas1"> Tabla 1</a>
        </li>
        <li>
            <a href="/Home/Tablas2"> Tabla 2</a>
        </li>
        <li>
            <a href="/Home/Formularios1"> Formularios 1</a>
        </li>
        <li>
            <a href="/Home/Formularios2"> Formularios 2</a>
        </li>
        <li>
            <a href="/Home/FormulariosHTML5"> Formularios HTML5</a>
        </li>
    </ul>

   
</body>
</html>
