<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>
        Practica CSS
    </h1>

    <ul>
        <li>
            <a href="/Home/Ejercicio1"> Ejercicio 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio2"> Ejercicio 2</a>
        </li>
        
    </ul>


</body>
</html>
